@import url("https://fonts.googleapis.com/css2?family=Invisible:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@100;400&display=swap');

.ucapan-container{
    background-color: #4F4747;
    margin-top: -5px;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}
.ucapan-title-container{
    padding-top: 30px;
}
.ucapan-title-text{
    margin: 0;
    color: #FFFFFF;
    font-family: 'Italianno';
    font-size: 64px;
    text-align: center;
}

.ucapan-card{
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80vw;
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-direction: column;
}

.ucapan-input{
    width: 80%;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.ucapan-item-container{
    display: flex;
}

.ucapan-avatar-container{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.ucapan-avatar-text{
    margin: 0px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ucapan-nama-ucapan-container{
    background-color: #FFF;
    border-radius: 0px 10px 10px 10px;
    width: 250px;
    padding: 10px 10px;
}

.ucapan-nama-text{
    margin: 2px 0 0 0;
    font-family: 'Invisible';
}



.ucapan-ucapan-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    font-size: 12px;
}

.ucapan-waktu-text{
    font-size: 10px;
    margin: 0;
    width: 100%;
    text-align: right;
}
.pagination{
    display: flex;
    flex-direction: row;
}

.pagination-button{
    margin-top: 40px;
    background-color: #FFF;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 0px 10px;
}