@import url("https://fonts.googleapis.com/css2?family=Invisible:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno:wght@400&display=swap");


.the-wedding-of-container{
  justify-content: center;
  align-items: center;
}
.the-wedding-of-text{
  margin: 0;
  padding-top: 40px;
  color: #FFFFFF;
  font-family: 'Invisible';
  text-align: center;
  z-index: 3;
}
.nama-mempelai-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  padding: 10px 20px;
}

.nama-mempelai-text{
  margin: 0;
  font-family: 'Italianno';
  color: #FFFFFF;
  font-size: 64px;
}

.nama-mempelai-dan{
  margin-top: 30px;
}
.nama-mempelai-2{
  margin-top: 70px;
}

.love-icon-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.love-icon{
  width: 87px;
  animation: anime 1s infinite ease-in-out alternate;
  animation-delay: 4s;
}

@keyframes anime{
  100%{
    transform: translateY(40px);
  }
}

.love-icon{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 1.5s;
  opacity: 0;
  width: 600px;
}

.love-icon.active{
  opacity: 1;
  width: 87px;
  
}



.cover-undangan{
  /* background-image: url('../assets/gambar1.webp'); */
  background-image: url('https://cdn.discordapp.com/attachments/1133382170321371238/1196436220503400448/WhatsApp_Image_2024-01-15_at_19.38.25.jpeg?ex=65b79f0f&is=65a52a0f&hm=11e81998ba497b5b1040bf21d0548318c18424943cfb50e20ab3ff48a7dd87c3&');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  height:100vh;
  width:100%;
  overflow: hidden;
  position: fixed;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  width: 100%;
  height: 100vh;
  content: '';
  top: 0;
  z-index: 0;
  left: 0;
}

.mode-buka-undangan{
  font-family: "Inknut Antiqua";
  font-size: 16px;
}

.kepada-yth-container{
  width: 100%;
}

.nama-mempelai-1{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: translateX(-150px);
  opacity: 0;
}

.nama-mempelai-1.active{
  opacity: 1;
  transform: translateX(0px);
}

.nama-mempelai-2{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: translateX(150px);
  opacity: 0;
}

.nama-mempelai-2.active{
  opacity: 1;
  transform: translateX(0px);
}

.kepada-yth-text{
  font-family: "Inknut Antiqua";
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin: 0;
  width: 100%;
}


.kepada-text{
  font-family: "Inknut Antiqua";
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  margin: 0;
  width: 100%;

}


.mohon-maaf-text{
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.bottom-container{
  bottom: 0;
  position: absolute;
  margin-bottom: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;

}

.bottom-container{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: translateY(150px);
  opacity: 0;
}

.bottom-container.active{
  opacity: 1;
  transform: translateY(0px);
}

.button-buka-undangan{
  cursor: pointer;
  background-color: #AC2F2F;
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-buka-undangan-text{
  margin: 0;
  font-family: 'Arial';
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}