.moment-container{
    background-color: #AC2F2F;
    margin-top: -20px;
    z-index: 1;
    position: relative;
    padding: 10px 20px 100px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.moment-title-container{
    padding-top: 30px;
}
.moment-title-text{
    margin: 0;
    color: #FFFFFF;
    font-family: 'Italianno';
    font-size: 64px;
    text-align: center;
}


.image-item{
    width: 120px;
    margin-bottom: 10px;
}

.galery-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.galery-container{
    margin-top: 90px;
}

.slider {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
}


.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .mySwipers {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 210px;
  }
  
  .swiper-slide2 {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    background: transparent;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }